In [35]:
import pandas as pd
import os

In [36]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

Let's read one of the csv files we have.

In [37]:
df=pd.read_csv('gdrive/My Drive/collected_data/zara.csv', encoding= 'unicode_escape')

In [38]:
df.head()

                                 Product       Price category
0                ROBE EN SATIN IMPRIMÃE  119,00 TND  dresses
1                          ROBE SATINÃE  119,00 TND  dresses
2             ROBE PORTEFEUILLE SATINÃE  119,00 TND  dresses
3  ROBE EN SATIN AVEC IMPRIMÃ Ã FLEURS  139,00 TND  dresses
4                          ROBE SATINÃE  139,00 TND  dresses

As shown in the dataframe, we have the name of the product, its price and its category.

In [39]:
df.tail()

                              Product      Price     category
185         CHOUCHOU FOULARD IMPRIMÃ  35,90 TND  accessories
186  TROUSSE MATELASSÃE ET IMPRIMÃE  35,90 TND  accessories
187  TROUSSE MATELASSÃE ET IMPRIMÃE  35,90 TND  accessories
188  TROUSSE MATELASSÃE ET IMPRIMÃE  59,90 TND  accessories
189  TROUSSE MATELASSÃE ET IMPRIMÃE  59,90 TND  accessories

In [40]:
df.shape

(190, 3)

In the first file which is corresponding to 'Zara', we have 190 elements.

Now, let's have a look at an other one.

In [41]:
df=pd.read_csv('gdrive/My Drive/collected_data/mango.csv', encoding= 'unicode_escape')

In [42]:
df.head()

                    Product    Price category
0  Robe texturÃ©e imprimÃ©e  119 TND  dresses
1  Robe texturÃ©e imprimÃ©e  119 TND  dresses
2   Salopette denim Wideleg  189 TND  dresses
3     Robe imprimÃ©e nÅuds  139 TND  dresses
4     Robe imprimÃ©e nÅuds  139 TND  dresses

In [43]:
df.tail()

                                 Product      Price     category
395              CrÃ©oles irrÃ©guliÃ¨res  45,90 TND  accessories
396              CrÃ©oles irrÃ©guliÃ¨res  45,90 TND  accessories
397  Set boucles dâoreilles combinÃ©es  45,90 TND  accessories
398  Set boucles dâoreilles combinÃ©es  45,90 TND  accessories
399                             CrÃ©oles  45,90 TND  accessories

In [44]:
df.shape

(400, 3)

For mango, we have collected 400 elements.

Now, let's show all the files we have in our directory.

In [45]:
data = []

for filename in os.listdir('gdrive/My Drive/collected_data'):
    if filename.endswith("csv"): 
        # Your code comes here such as 
        print(filename)
        data.append(filename)
print(data)

zara.csv
shana.csv
mango.csv
HA.csv
drest.csv
['zara.csv', 'shana.csv', 'mango.csv', 'HA.csv', 'drest.csv']

In order to combine the 5 datasets into one, we need a reference for each one to know the source of the element. So, we are going to add the name of the file and the name of the retailer to each row.

In [46]:
complete_dataframe=pd.DataFrame()
my_dataframes=[]
for filename in os.listdir('gdrive/My Drive/collected_data'):
    if filename.endswith("csv"): 
      path ='gdrive/My Drive/collected_data/'+filename
      df=pd.read_csv(path, encoding= 'unicode_escape')

      df['Filename'] = filename
      #if we remove '.csv' from the name of the file, we get the name of the retailer
      retailer_name=filename.replace(".csv","")
      df['Retailer']= retailer_name
      print(df.head(2))
      my_dataframes.append(df)

                   Product       Price category  Filename Retailer
0  ROBE EN SATIN IMPRIMÃE  119,00 TND  dresses  zara.csv     zara
1            ROBE SATINÃE  119,00 TND  dresses  zara.csv     zara
   Product       Price category   Filename Retailer
0  Legging  54,99Â TND  dresses  shana.csv    shana
1      Top  24,99Â TND  dresses  shana.csv    shana
                    Product    Price category   Filename Retailer
0  Robe texturÃ©e imprimÃ©e  119 TND  dresses  mango.csv    mango
1  Robe texturÃ©e imprimÃ©e  119 TND  dresses  mango.csv    mango
                           Product        Price category Filename Retailer
0       Pantacheville formel femme  69,990Â TND    pants   HA.csv       HA
1  Jeans coupe High Rise Straight   69,990Â TND    pants   HA.csv       HA
                                             Product  ... Retailer
0    Robe blouse noire en jean Ã  manches bouffantes  ...    drest
1  NAFNAF â Robe dâÃ©tÃ© femme Ã  manches tra...  ...    drest

[2 rows x 5 columns]

In [47]:
my_dataframes

[                                   Product       Price  ...  Filename Retailer
 0                  ROBE EN SATIN IMPRIMÃE  119,00 TND  ...  zara.csv     zara
 1                            ROBE SATINÃE  119,00 TND  ...  zara.csv     zara
 2               ROBE PORTEFEUILLE SATINÃE  119,00 TND  ...  zara.csv     zara
 3    ROBE EN SATIN AVEC IMPRIMÃ Ã FLEURS  139,00 TND  ...  zara.csv     zara
 4                            ROBE SATINÃE  139,00 TND  ...  zara.csv     zara
 ..                                     ...         ...  ...       ...      ...
 185              CHOUCHOU FOULARD IMPRIMÃ   35,90 TND  ...  zara.csv     zara
 186       TROUSSE MATELASSÃE ET IMPRIMÃE   35,90 TND  ...  zara.csv     zara
 187       TROUSSE MATELASSÃE ET IMPRIMÃE   35,90 TND  ...  zara.csv     zara
 188       TROUSSE MATELASSÃE ET IMPRIMÃE   59,90 TND  ...  zara.csv     zara
 189       TROUSSE MATELASSÃE ET IMPRIMÃE   59,90 TND  ...  zara.csv     zara

 [190 rows x 5 columns],
       Product        Price     category   Filename Retailer
 0     Legging   54,99Â TND      dresses  shana.csv    shana
 1         Top   24,99Â TND      dresses  shana.csv    shana
 2    Ensemble  134,99Â TND      dresses  shana.csv    shana
 3         Top   49,99Â TND      dresses  shana.csv    shana
 4     Chemise   79,99Â TND      dresses  shana.csv    shana
 ..        ...          ...          ...        ...      ...
 148     Jeans   63,99Â TND  accessories  shana.csv    shana
 149   Chemise   79,99Â TND  accessories  shana.csv    shana
 150       Sac   29,99Â TND  accessories  shana.csv    shana
 151       Sac   29,99Â TND  accessories  shana.csv    shana
 152       Sac   34,99Â TND  accessories  shana.csv    shana

 [153 rows x 5 columns],
                                  Product      Price  ...   Filename Retailer
 0               Robe texturÃ©e imprimÃ©e    119 TND  ...  mango.csv    mango
 1               Robe texturÃ©e imprimÃ©e    119 TND  ...  mango.csv    mango
 2                Salopette denim Wideleg    189 TND  ...  mango.csv    mango
 3                  Robe imprimÃ©e nÅuds    139 TND  ...  mango.csv    mango
 4                  Robe imprimÃ©e nÅuds    139 TND  ...  mango.csv    mango
 ..                                   ...        ...  ...        ...      ...
 395              CrÃ©oles irrÃ©guliÃ¨res  45,90 TND  ...  mango.csv    mango
 396              CrÃ©oles irrÃ©guliÃ¨res  45,90 TND  ...  mango.csv    mango
 397  Set boucles dâoreilles combinÃ©es  45,90 TND  ...  mango.csv    mango
 398  Set boucles dâoreilles combinÃ©es  45,90 TND  ...  mango.csv    mango
 399                             CrÃ©oles  45,90 TND  ...  mango.csv    mango

 [400 rows x 5 columns],
                                      Product        Price  ... Filename Retailer
 0                 Pantacheville formel femme  69,990Â TND  ...   HA.csv       HA
 1            Jeans coupe High Rise Straight   69,990Â TND  ...   HA.csv       HA
 2                            Pantalon femme   59,990Â TND  ...   HA.csv       HA
 3                 Pantalon avec cordon femme  59,990Â TND  ...   HA.csv       HA
 4      Pantalon large imprimÃ© gÃ©omÃ©trique  39,990Â TND  ...   HA.csv       HA
 5                Pantalon large gaufre femme  49,990Â TND  ...   HA.csv       HA
 6           Pantalon avec ceinture Ã  nouer   59,990Â TND  ...   HA.csv       HA
 7           Pantalon large cropped cÃ´telÃ©   39,990Â TND  ...   HA.csv       HA
 8          Pantacheville en gabardine  femme  59,990Â TND  ...   HA.csv       HA
 9                       Pantalon denim femme  69,990Â TND  ...   HA.csv       HA
 10                Pantacheville formel femme  69,990Â TND  ...   HA.csv       HA
 11                     Pantalon flare femme   79,990Â TND  ...   HA.csv       HA
 12                              Gilet femme   99,990Â TND  ...   HA.csv       HA
 13                              Gilet femme   79,990Â TND  ...   HA.csv       HA
 14                              Gilet femme   69,990Â TND  ...   HA.csv       HA
 15         Twin-set imprimÃ© ethnique femme   59,990Â TND  ...   HA.csv       HA
 16  Gilet long cÃ´telÃ© munie d'une ceinture  49,990Â TND  ...   HA.csv       HA
 17                     Gilet kimono imprimÃ©  19,990Â TND  ...   HA.csv       HA
 18                              Gilet femme   89,990Â TND  ...   HA.csv       HA
 19                   Gilet court avec nÅud   29,990Â TND  ...   HA.csv       HA
 20                        Gilet sans manches  89,990Â TND  ...   HA.csv       HA
 21                         Gilet long kimono  49,990Â TND  ...   HA.csv       HA
 22                          Gilet long femme  99,990Â TND  ...   HA.csv       HA
 23             Gilet long en fausse fourrure  89,990Â TND  ...   HA.csv       HA
 24                             T-Shirt femme  39,990Â TND  ...   HA.csv       HA
 25                            T-Shirt femme   39,990Â TND  ...   HA.csv       HA
 26                            T-Shirt femme   25,990Â TND  ...   HA.csv       HA
 27                                 Top femme  19,990Â TND  ...   HA.csv       HA
 28                    Tunique cÃ´telÃ© femme  39,990Â TND  ...   HA.csv       HA
 29      T-Shirt imprimÃ© gÃ©omÃ©trique femme  35,990Â TND  ...   HA.csv       HA
 30                         DÃ©bardeur femme   15,990Â TND  ...   HA.csv       HA
 31                             T-Shirt femme  29,990Â TND  ...   HA.csv       HA
 32      T-Shirt imprimÃ© gÃ©omÃ©trique femme  35,990Â TND  ...   HA.csv       HA
 33               Top gaufre col bardot femme  25,990Â TND  ...   HA.csv       HA
 34                            T-Shirt femme   29,990Â TND  ...   HA.csv       HA
 35                             T-Shirt femme  35,990Â TND  ...   HA.csv       HA
 36             Robe mi-longue Ã  col chemise  89,990Â TND  ...   HA.csv       HA
 37              Robe midi rayÃ©e aspect lin   79,990Â TND  ...   HA.csv       HA
 38                      Ensemble short femme  39,990Â TND  ...   HA.csv       HA
 39                            T-Shirt femme   25,990Â TND  ...   HA.csv       HA
 40                              Short femme   25,990Â TND  ...   HA.csv       HA
 41             Soutien-gorge dentelle paddÃ©  44,990Â TND  ...   HA.csv       HA
 42      Soutien-gorge dentelle Extra Push Up  49,990Â TND  ...   HA.csv       HA
 43      Soutien-gorge dentelle Extra Push Up  49,990Â TND  ...   HA.csv       HA
 44            Soutien-gorge dentelle Push Up  44,990Â TND  ...   HA.csv       HA
 45         Soutien-gorge dentelle emboitant   44,990Â TND  ...   HA.csv       HA
 46      Soutien-gorge dentelle Extra Push Up  39,990Â TND  ...   HA.csv       HA
 47         Soutien-gorge Basic Extra Push Up  39,990Â TND  ...   HA.csv       HA
 48                    Soutien-gorge dentelle  39,990Â TND  ...   HA.csv       HA
 49             Soutien-gorge dentelle souple  39,990Â TND  ...   HA.csv       HA
 50            Soutien-gorge dentelle Push Up  39,990Â TND  ...   HA.csv       HA
 51          Soutien-gorge dentelle emboitant  39,990Â TND  ...   HA.csv       HA
 52          Soutien-gorge dentelle emboitant  39,990Â TND  ...   HA.csv       HA
 53        Soutien-gorge Basic Extra Push Up   35,990Â TND  ...   HA.csv       HA
 54               Soutien-gorge Basic Push Up  35,990Â TND  ...   HA.csv       HA
 55               Soutien-gorge Basic Bandeau  35,990Â TND  ...   HA.csv       HA
 56           Soutien-gorge en coton imprimÃ©  29,990Â TND  ...   HA.csv       HA
 57               Soutien-gorge Extra Push Up  29,990Â TND  ...   HA.csv       HA
 58         Soutien-gorge Basic Extra Push Up  29,990Â TND  ...   HA.csv       HA
 59                   Soutien-gorge dentelle   44,990Â TND  ...   HA.csv       HA

 [60 rows x 5 columns],
                                                Product  ... Retailer
 0      Robe blouse noire en jean Ã  manches bouffantes  ...    drest
 1    NAFNAF â Robe dâÃ©tÃ© femme Ã  manches tra...  ...    drest
 2          NAFNAF â Robe courte col V en Bleu marine  ...    drest
 3       NewLook â Pale Blue Floral Belted Mini Dress  ...    drest
 4      NAFNAF â Robe femme, col V croisÃ© avec nÅud  ...    drest
 ..                                                 ...  ...      ...
 357                     GUILD â Doctorâs Bag White  ...    drest
 358         MOA â BOUCLE OREILLE COULEUR NOIR/MARRON  ...    drest
 359           MOA â BOUCLE OREILLE COULEUR OR/MARRON  ...    drest
 360           MOA â BOUCLE OREILLE COULEUR MARRON/OR  ...    drest
 361            MIGATO-Sac Ã  main verni beige Ã  rabat  ...    drest

 [362 rows x 5 columns]]

In [48]:
#combining the 5 dataframes using the method concat from pandas 
complete_dataframe= pd.concat(my_dataframes)

In [49]:
complete_dataframe.head()

                                 Product       Price  ...  Filename Retailer
0                ROBE EN SATIN IMPRIMÃE  119,00 TND  ...  zara.csv     zara
1                          ROBE SATINÃE  119,00 TND  ...  zara.csv     zara
2             ROBE PORTEFEUILLE SATINÃE  119,00 TND  ...  zara.csv     zara
3  ROBE EN SATIN AVEC IMPRIMÃ Ã FLEURS  139,00 TND  ...  zara.csv     zara
4                          ROBE SATINÃE  139,00 TND  ...  zara.csv     zara

[5 rows x 5 columns]

In [50]:
complete_dataframe.tail()

                                        Product      Price  ...   Filename Retailer
357              GUILD â Doctorâs Bag White   32.9 TND  ...  drest.csv    drest
358  MOA â BOUCLE OREILLE COULEUR NOIR/MARRON   29.0 TND  ...  drest.csv    drest
359    MOA â BOUCLE OREILLE COULEUR OR/MARRON  119.9 TND  ...  drest.csv    drest
360    MOA â BOUCLE OREILLE COULEUR MARRON/OR   44.5 TND  ...  drest.csv    drest
361     MIGATO-Sac Ã  main verni beige Ã  rabat   31.2 TND  ...  drest.csv    drest

[5 rows x 5 columns]

In [51]:
complete_dataframe.shape

(1165, 5)

Our dataset have 1165 rows and 5 columns

In [52]:
complete_dataframe.to_csv('dataset.csv',index=False)